#jogo{
    width: 960px;
    height: 540px;
}

#jogo canvas{
    width: 100%;
    height: 100%;
}

@font-face {
        font-family: OpenSans;
        src: url('cuphead/fontes/OpenSans-Bold.ttf');
        font-weight:400;
        font-weight:normal;
}

@font-face {
        font-family: Bangers;
        src: url('cuphead/fontes/Bangers.ttf');
        font-weight:400;
        font-weight:normal;
}